{%
  set container_class = 'container-fluid'
%}


{% include '@bsf/layout/header.html.twig' %} 


<div class="{{'main-container ' ~ container_class }}">

      <header role="banner" id="page-header">
           {% if page.header %}
            {{ page.header }}
          {% endif %}
      </header> 

      <div class="row">

          {% if page.sidebar_first %}
            <aside class="col-sm-3" role="complementary">
              {{ page.sidebar_first }}
            </aside> 
          {% endif %}

          <section class="col-sm-12">
                {% if page.highlighted %}
                  <div class="highlighted jumbotron">{{ page.highlighted }}</div>
                {% endif %}
                <a id="main-content"></a>
              <div class="row column-container">
                {% if node.field_background_image and node.field_background_image.target_id %}
                    <div class="img-container col-sm-3 hidden-xs" role="complementary">	
                        <img typeof="foaf:Image" class="img-responsive" data-icon="" src="{{file_url(node.field_background_image.entity.uri.value)}}" width="auto" height="auto" alt="">                                                         
                    </div>
                    <div class="content-container col-sm-9">
                {% else %}
                    <div class="content-container col-sm-12">
                {% endif %}

                        {% if title %}
                        <h1 class="page-header">{{title}}</h1>
                        {% endif %}               
                        
                        {% if page.navigation %}
                        {{ page.navigation }}
                        {% endif %}
                        
                        {% if page.help %}
                        {{ page.help }}
                        {% endif %}

                        {% if page.content %}
                        {{ page.content }}
                        {% endif %}
                </div>
              </div>
          </section>

          {% if page.sidebar_second %}
            <aside class="col-sm-3" role="complementary">
              {{ page.sidebar_second }}
            </aside> 
          {% endif %}
    
      </div>    
  </div>


{% include '@bsf/layout/footer.html.twig' %} 