 <form{{ attributes }}> 
 <ul>
 <li>{{ element.elements.name }}</li>
 <li>{{ element.elements.surname }}</li>
 <li>{{ element.elements.company }}</li>
 <li>{{ element.elements.email }}</li>
 </ul>
     
      
        {{ element.elements.legal }}    
   
 
          {{ element.form_token }}
          {{ element.form_build_id }}
          {{ element.form_id }}
{{ element.actions.submit }}
    </form> 